extends layout

block content
  
  .jumbotron.bpe-jumbotron
    .col-md-6
    br
    img.img-circle(src='../assets/img/lingGAmeetandhire.jpg', alt='Me')
    h2
      address
        strong Ling Lu.
        br
        | &#x9;    53 Cliffside Drive
        br
        | &#x9;    Daly City, CA, United States, 94015
        br
        abbr(title='Phone') Phone:
        |  (415) 812 6840
        br
        abbr(title='Email') Email:
        |  #[a(href="mailto:jojoucsd@gmail.com") jojoucsd@gmail.com]
        br
        abbr(title='Github') Github:
        |  #[a(href="https://github.com/Jojoucsd") jojoucsd]
        br
        abbr(title='LinkedIn') LinkedIn:
        |  #[a(href="https://www.linkedin.com/in/ling-lu-331a23b0?trk=nav_responsive_tab_profile_pic") Ling Lu]
        br
        abbr(title='Resume') Resume:
        |  #[a(href="https://www.dropbox.com/s/kcxt9uintohtrz2/LingLuDeveloper.pdf?dl=0") Resume]
        br
  // /.container
