doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../assets/ico/favicon.ico')
    title Ling Lu Developer
    // Bootstrap core CSS
    link(href='../assets/css/bootstrap.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='../assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  //
    NAVBAR
    ==================================================
  body
    a.sr-only(href="javascript:$('#myCarousel').carousel('pause');") Stop carousel.
    a.sr-only(href="javascript:$('#myCarousel').carousel('next');") Next slide in carousel.
    a.sr-only(href="javascript:$('#myCarousel').carousel('prev');") Previous slide in carousel.
    a.sr-only(href='#maincontent') Skip to main content.
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Ling Lu
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/index.html') About Me
                li.active
                  a(href='/products.html') Portfolio
                li
                  a(href='https://www.dropbox.com/s/kcxt9uintohtrz2/LingLuDeveloper.pdf?dl=0') Resume
                li
                  a(href='/detail.html') Contact 

    block content
      block content
        .container.marketing
          br
          br
          br

          h1  Project Comparison Table 
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th
                  th
                    p
                      div
                     
                      a(href='./detail.html') Twillio-Socket
                  th
                    p
                      div
                 
                      a(href='./detail.html') Hood-Sf
                  th
                    p
                      div
                
                      a(href='./detail.html') High-Five
                  th
                    p
                      div
                  
                      a(href='./detail.html') D2R    
              tbody
                tr
                  td Language
                  td Node.js
                  td Ruby on Rails
                  td Ruby on Rails
                  td Node.js
                tr
                  td Database
                  td MongoDB
                  td Postgres
                  td Postgres
                  td MongoDB
                tr
                  td Feature
                  td Twillio
                  td Tagging
                  td Geo-locator 
                  td Filtering
                tr
                  td Bonus
                  td Socket
                  td Video
                  td Database Search
                  td jQuery UI
            
          hr.featurette-divider
          .row.featurette
            .col-md-7
              h4.featurette-heading
                | TwilioSocketChat 
                span.h4.text-muted A Medical Help Desk App.
              p.lead
                | A chatroom app intended to for medical/health field. Which use Twilio’s API and web socket concept to turn any laptop/desktop into a SMS machine that can commute to not just smart phone but any SMS device.
                #[a(href="https://twiliosocketchat.herokuapp.com/") Twilio-Socket-Chat] 

            .col-md-5
              br
              br
              br
              br
              br
              br
              img.featurette-image.img-responsive(src='../assets/img/banner-support.jpg', alt='Leaf')
          hr.featurette-divider
          .row.featurette
            .col-md-5
              br
              br
              br
              br
              br
              img.featurette-image.img-responsive(src='../assets/img/HoodSf.png')
            .col-md-7
              h4.featurette-heading
                | HoodSf
                span.h4.text-muted Blog your neighborhood.
              p.lead
                | A CRUT app using the classic feature of Ruby on Rails to explored the inner beauty of San Francisco neighborhood. Key feature of technology applied is filtering and authentication and authorization.
                #[a(href="https://hood-sf.herokuapp.com.herokuapp.com/") Hood-Sf] 
          hr.featurette-divider
          .row.featurette
            .col-md-7
              h4.featurette-heading
                | High-Five 
                span.h4.text-muted to people around you
              p.lead
                | A ruby on rails app that is mobile responsive that allow people to receive compliments in public area. Google Map, geo locator, active notification and search users current locations are the highlight of this app. #[a(href="https://high-five-app.herokuapp.com/") High-Five]
            .col-md-5
              br
              br
              br
              br
              br
              img.featurette-image.img-responsive(src='../assets/img/High-Five.png', alt='Grapefruit')      
          hr.featurette-divider
          .row.featurette
            .col-md-5
              br
              br
              br
              br
              br
              img.featurette-image.img-responsive(src='../assets/img/runner.jpg', alt='Jelly')
            .col-md-7
              h4.featurette-heading
                | D2R 
                span.h4.text-muted Connect with your non-profit
              p.lead
                | A fully functional Node.js web platform for non-profit organizations and volunteers to reconnect and contribute to communities. #[a(href="https:d2r.herokuapp.com/") D2R] 
          hr.featurette-divider

          // FOOTER
          footer
            p.pull-right
              | &copy; 2015 Lu, Ling. &middot; 
              a(href='#') Privacy
              |  &middot; 
              a(href='#') Terms
              |  &middot; 
              a(href='#') Back to top
            p
              address
                strong Ling Lu.
                br
                | &#x9;    53 Cliffside Drive
                br
                | &#x9;    Daly City, CA, United States, 94015
                br
                abbr(title='Phone') Phone:
                |  (415) 812 6840
                br
                abbr(title='Email') Email:
                |  #[a(href="mailto:jojoucsd@gmail.com") jojoucsd@gmail.com]
                br
                abbr(title='Email') Github:
                |  #[a(href="https://github.com/Jojoucsd") jojoucsd]
                br
                abbr(title='Email') LinkedIn:
                |  #[a(href="https://www.linkedin.com/in/ling-lu-331a23b0?trk=nav_responsive_tab_profile_pic") Ling Lu]
                br
        // /.container  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='../assets/js/bootstrap.min.js')
    script(src='../assets/js/retina.min.js')
